<!DOCTYPE html>
{% load staticfiles common_tags %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Cisco Poller</title>

    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  </head>

  <body>

    {% block navbar %}
      <div class="navbar navbar-apple navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'index' %}">
              The Cisco Poller
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="{% url 'polls:index' %}">Polls</a></link>
            </ul>
            {% if user.is_authenticated %}
              <p class="navbar-text navbar-right">
                {{ user|excite|shout }}
                <a href="{% url 'accounts:logout' %}" class="navbar-link">Logout</a>
              </p>
            {% else %}
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="{% url 'accounts:login' %}">{{ "Login"|shout:8 }}</a></li>
                </li>
              </ul>
            {% endif %}
          </div><!--/.navbar-collapse -->
        </div>
      </div>
    {% endblock %}

    {# Some templates will want to define their own main container, they can override this block #}
    {% block main-container %}
      <div class="container main-container">
        {% block content %}{% endblock %}
      </div>
    {% endblock main-container %}

    {% block footer %}
      <div class="container">
        <hr/>
        <footer>
          <p>&copy; Company 2014</p>
        </footer>
      </div>
    {% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/vendor/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>
