{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
  {% crispy form %}
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <a href="{% url 'accounts:register' %}">Need an account? Register here.</a>
  </div>
</div>
{% endblock %}
