body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('../images/pony-bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

div.main-container {
  /* Offset the top of our main container to account for the navbar */
  padding-top: 70px;
}

div.navbar.navbar-apple {
  background: rgba(0, 0, 0, 0.6);
  height: 2.5em;
  margin: 0 auto 1em;
  font-size: 18px;
  color: white;
}

div.navbar.navbar-apple .nav li a {
  color: white;
}

div.navbar.navbar-apple .nav li a:hover {
  background: none;
  color: rgba(0, 0, 0, 0.1);
}

div.navbar.navbar-apple .navbar-text {
  color: white;
}

div.navbar.navbar-apple .navbar-link {
  color: white;
}

a.navbar-brand {
  background-position: 0 45%;
  background-size: 1em;
  background-repeat: no-repeat;
  padding-left: 1.5em;
  color: white;
}
